<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
<div>
<form id="version"
      enctype="multipart/form-data"
      action="/Version/submit/<%=compId%>"
      method="post" name="uploadForm" novalidate>
      <label>Version Name:</label>
      <input type="text" id="versionName" name="versionName"></input><br/>
      <label>Description:</label>
      <input type="text" id="description" name="description"></input><br/>
      <label>Category:</label>
    <input type="file" id="verisonFile" name="verisonFile" />
    
 
 <input type="submit" value="Add Version"/>
</form>
</div>
<br/>
<br/>
<br/>
<div>
<%if(result){%>
          <table>
          <%result.forEach(function(version){%>
          <tr>
          <td>
          <a href='../../versions/<%=version.path%>'><%=version.name%></a>
          </td>
          <td>
          <%=version.description%>
          </td>
          <td>
          <%=version.component.name%>
          </td>
          <td>
          <%=version.recommended%>
          </td>
          <td>
          <%=version.active%>
          </td>
          </tr>
          <%});%>

          </table>
          <%}%>
</div>
<br/>
<br/>
<div>
<form id="versionrating"
      enctype="multipart/form-data"
      action="/Version/rating/<%=compId%>"
      method="post" name="uploadratForm" novalidate>
      <label>Version Name:</label>
      <% if(result){ %>
            <select name="versionName" id="versionName">

              <% result.forEach(function (version){ %>
             
                  <option value=<%= version.id %>>
               
                  <%=version.name %></option>
               
              <% });%>

            </select>
            <% } %>  
      <br/>
      <label>Rating:</label>
      <input type="text" id="versionrating" name="versionrating"></input><br/>

 <input type="submit" value="Rate Version"/>
</form>
</div>
 </body>
</html>